@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  min-width: 375px;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  background-color: #1F2937;
}

#app {
  width: 100%;
}

main {
  background-color: #fff;
}

svg {
  width: 100%;
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Fixes date inputs on iOS */
input[type="date"] {
  display:block;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  min-height: 1.2em;
  background-color: transparent;
}
